@import "../../scss/mixin";
.wrap {
  overflow: hidden;
  padding: 2em 4vw 0 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
//   margin-top: 70px;
}

.chat-item {
  width: 50%;
}
.your-message {
  background: #ed7c4b;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  float: right;
}

.other-people {
  background: #868686;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  color: white;
  text-align: left;
  float: left;
}

.box-chat_message {
  min-height: 60vh;  
  max-height: 60vh;  
  overflow-y: auto;
}
.box-chat {
  width:70%;
  margin: 0 auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 0 black;
  border-radius: 1em;
}

.send-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

input {
  width: 80%;
  margin: 0;
  padding: 0.5em;
  background: #ebf5ff;
  border-radius: 2em; 
  display: flex;
  float: left;
}

button {
  width: 10%;
  background: #ed7c4b;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  padding: 1em;
  text-align: center;
}

button:hover {
  background: #efa483;
}

textarea:focus {outline:0;}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
